[submodule "test/Catch"]
	path = test/Catch
	url = https://github.com/philsquared/Catch
[submodule "include/remote_memory/process_handle"]
	path = include/remote_memory/process_handle
	url = https://github.com/JustasMasiulis/process_handle
